html {
    box-sizing: border-box;
    
}
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    margin: 0;
    padding: 0;
   background-color: rgb(209, 209, 209);
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto',sans-serif;
    color:white;
    background-image: linear-gradient(to right,rgb(94, 26, 158),blueviolet,blue,darkblue);
    padding: 0px 0;
    border-bottom: 4px solid rgb(197, 197, 197);
}

.main-header{
    display: flex;
    gap:8px;
    align-items: center;
}
.side-headers{
    display: flex;
    gap: 2em;
}
h3{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    border-bottom: 8px solid rgb(197, 197, 197);
    border-right:8px solid rgb(197, 197, 197) ;
    
}

.body-content{
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.divGridInside{
    background-color: white;
    width: 10px;
    height: 10px;
 
}

.tools{
    
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
    width: 250px;
    height: 600px;
    background-color: rgb(214, 194, 232);
    border-radius: 4em;
    border: 2px solid white;
    border-top: 0px solid white;

    
}

.toolbar-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto',sans-serif;
    font-size: larger;
    color: azure;
    background-image: linear-gradient(140deg,blueviolet,blue);
    border: 2px  solid white;
    width: 250px;
    height: 100px;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
  }

  .toolbar-text{
    margin: 0px;
  }

 .colors:hover, .pen:hover, .eraser:hover, .fill:hover, .color-picker:hover{
    opacity: 0.2;
    transition: 0.5s;
 }

 a{
    text-decoration: none;
    color:white;
    font-size: larger;
 }

 .blueprint-image{
    position: absolute;
    opacity: 0.3;
 }

.active-tool{
    background-color: red;
}
