.body{
    display: flex;

}
.container{
    display: flex;
    justify-content: center;
    
}

.divInsideGrid:hover{
    background-color: black;
}

.divInsideGrid{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    
}